<form class="from-inline" *ngIf="!authService.getUser()">
    <div class="form-group">
        <label for="username">User: (type <em>user</em>)</label>
        <input type="text" name="username" #username>
    </div>
    <div class="form-group">
        <label for="password">Password: (type <em>password</em>)</label>
        <input type="password" class="form-control" name="password" #password>
    </div>
    <a class="btn btn-danger" (click)="login(username.value, password.value)">Entrar!</a>
    {{mensajeError}}
</form>

<a href="" class="btn btn-defaul" (click)="logout()" *ngIf="authService.getUser()">Salir!</a>
