<form [formGroup]="fg" (ngSubmit)="guardar(fg.controls['nombre'].value, fg.controls['url'].value)">
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" [formControl]="fg.controls['nombre']" placeholder="Ingresa nombre">
        <ul>
            <li *ngFor="let r of searchResults;">{{ r }}</li>
        </ul>
        <div *ngIf="fg.controls['nombre'].hasError('required')" style="color: aqua;"> Campo requerido</div>
        <div *ngIf="fg.controls['nombre'].hasError('invalidNombre')" style="color: aqua;">Nombre invalido</div>
        <div *ngIf="fg.controls['nombre'].hasError('minLongNombre')" style="color: aqua;">El nombre debe tener almenos min {{ minLongNombre }} de largo</div>
    </div>
    <div class="form-group">
        <label for="Imagen Url">Imagen Url</label>
        <input type="text" class="form-control" id="imagen" [formControl]="fg.controls['url']" placeholder="Ingresa url de la imagen..">
    </div>
    <button class="btn btn-danger" type="submit" *ngIf="fg.valid">Guardar</button>
</form>