<div class="container content">
    <div class="page-header">
 
        <div style="float: right;">
        <select (change)="translate.use($event.target.value)">
            <option value="es">Español</option>
            <option value="fr">Frances</option>
            <option value="en">English</option>
        </select></div>



        <div class="container">
            <h1>Ruteo simple</h1>
            <div class="nav-link">
                <a [routerLink]="['/home']" class="navbar-brand">Home</a>
                <a [routerLink]="['/destino']" class="navbar-brand">Destinos</a>
            </div>
        </div>
    </div>
    <div class="row">
        <h1>{{ title }} <b [innerHTML]="'HOLA' | translate"></h1>
    </div>
</div>
<router-outlet></router-outlet>

<hr class="md-5"> fecha: {{ time | async }}