<div class="container content">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <span class="anchor" id="formLogin"></span>

            <div class="card card-outline-secondary">
                <div class="card-header">
                    <h3 class="mb-0">whishlist</h3>
                    <app-form-destino-viaje (onItemAdded)="agregado($event)"></app-form-destino-viaje>
                </div>
            </div>
        </div>
    </div>
    <hr class="md-5">
    <div class="row row-flex">
        <app-destino-viaje *ngFor="let d of all; let i=index" [position]="i +1" [destinos]="d" (onClicked)="elegido($event)" appEspiame></app-destino-viaje>
    </div>
    <hr class="md-5">
    <div class="row row-flex">
        <h5>Actividades</h5>
        <ul>
            <li *ngFor="let u of updates">{{u}}</li>
        </ul>
    </div>
</div>