<p>destino-detalle works!</p>
<br>
   {{destino.id}}
   <br>
   {{destino.nombre}}
   <hr>

<mgl-map 
[style]="style"
[zoom]="[2]"
style="height: 50vh; width: 100vw;">

<mgl-marker [lngLat]="[-75.541012, 10.441185]">
    <div onclick="alert('Hola')" class="marker">Bien venido al restaurante paisita</div>
</mgl-marker>
</mgl-map>